In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [61]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(filename)
        if filename == "train.csv":
            train = pd.read_csv(os.path.join(dirname, filename))
        if filename == "test.csv":
            test = pd.read_csv(os.path.join(dirname, filename))
        if filename == "revealed_targets.csv":
            revealed_targets = pd.read_csv(os.path.join(dirname, filename))
        if filename == "sample_submission.csv":
            sample_submission = pd.read_csv(os.path.join(dirname, filename))

public_timeseries_testing_util.py
train.csv
sample_submission.csv
revealed_targets.csv
test.csv
competition.cpython-310-x86_64-linux-gnu.so
__init__.py

In [91]:
train

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [22]:
# stocks = {}
# for index, row in train.iterrows():
#     stock_id = row['stock_id']
#     date_id = row['date_id']
#     stock_date = f"{stock_id}_{date_id}"
#     new_row = pd.DataFrame({
#         'time': row['seconds_in_bucket'],
#         'price': row['wap']
#     }, index =[0])
#     if stock_date not in stocks:
#         stocks[stock_date] = pd.DataFrame(columns=["time", "price"])
    
#     stocks[stock_date] = pd.concat([stocks[stock_date], new_row], ignore_index=True)
# #     stocks[stock_date].concat stock

In [90]:
train_slim = train.copy()

train_slim['stock_date'] = train_slim['stock_id'].astype(str) + '_' + train_slim['date_id'].astype(str)
# str(train_slim['stock_id']) + "_" + str(train_slim['date_id'])
# train_slim['stock_date']
train_slim

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,stock_date
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1_0
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,2_0
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3,3_0
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,4_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195,195_480
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196,196_480
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197,197_480
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198,198_480
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199,199_480

In [49]:
# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(train)

# Group the data by 'stock_id' and 'date_id'
grouped_data = df.groupby(['stock_id', 'date_id'])

# Initialize an empty dictionary to store time series data
time_series_data = {}

# Iterate through each group and create time series
for (stock_id, date_id), group_df in grouped_data:
    stock_date = f"{stock_id}_{date_id}"

    # Extract 'seconds_in_bucket' and 'wap' columns for the time series
    time_series = group_df[['stock_id', 'date_id', 'seconds_in_bucket', 'wap']].set_index(stock_date).squeeze()

    # Store the time series in the dictionary
    time_series_data[stock_date] = time_series

# Example: Display the time series for the first stock and date combination
# example_key = list(time_series_data.keys())[30]
# print(f"Time Series for {example_key}:\n")
# print(time_series_data[example_key])
time_series

KeyError: "None of ['0_0'] are in the columns"